# Desc: Player configuration for the "Braitenberg" assignment
# Author: Sergey Alexandrov
# Date: 07 Nov 2011

# load the Stage plugin simulation driver
driver
(
  name "stage"
  provides ["simulation:0"]
  plugin "stageplugin"

  # load the named file into the simulator
  worldfile "braitenberg.world"
)

# create a Stage driver and attach position2d and sonar
# ranger:0 - Braitenberg sonars
driver
(
  name "stage"
  provides ["position2d:0" "ranger:0"]
  model "robot1"
)
