# Desc: Player configuration for the early assignments
# Author: Sergey Alexandrov
# Date: 07 Nov 2011

# load the Stage plugin simulation driver
driver
(
  name "stage"
  provides [ "simulation:0" ]
  plugin "stageplugin"

  # load the named file into the simulator
  worldfile "simple.world"
)

# create a Stage driver and attach position2d, laser and sonars
# ranger:0 - SICK laser
# ranger:1 - Pioneer sonars
driver
(
  name "stage"
  provides ["position2d:0" "ranger:0" "ranger:1"]
  model "robot1"
)
